gallery_file/*base*/
/*! bootstrap buttons */
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}
.inputfield.passenger::selection, #find_limo_form .inputfield.passenger .button::selection {
    background: none;
}
.pw-popup-type_aftershare{
    display: none !important;
}
.btn.btn-default.kv-fileinput-upload {
	padding: 7px 12px;
	border-radius: 0;
	border: none;
	display: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
.btn.focus, .btn:focus, .btn:hover {
	color: #fff;
	text-decoration: none
}
.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65
}
#testimonial.content_section {
	padding: 15px;
	max-height: 400px;
	overflow-x: auto;
}
#testimonial.content_section img {
	width: 60px;
	height: auto;
	max-height: 60px;
}
#changeimg {
	max-height: 220px;
}
#gallery {
	padding: 20px 15px;
}
#gallery .g_img {
	width: 200px;
	display: inline-block;
	position: relative;
}
#gallery .g_img img {
	height: 120px;
	width: 200px;
}
#gallery .delete {
	position: absolute;
	right: 0;
	background: #000;
	padding: 5px;
	top: 0;
	color: #fff;
	border: none;
}
#gallery .input-group {
	position: relative !important;
	height: auto !important;
	padding: 0 !important;
	background-color: #fff !important;
}
.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
	background-color: #5bc0de;
	border-color: #46b8da
}
.btn-info .badge {
	color: #5bc0de;
	background-color: #fff
}
.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236
}
.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512
}
.btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning {
	background-image: none
}
.btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning[disabled].active, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
	background-color: #f0ad4e;
	border-color: #eea236
}
.btn-warning .badge {
	color: #f0ad4e;
	background-color: #fff
}
.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a
}
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925
}
.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
	background-image: none
}
.btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger[disabled].active, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover {
	background-color: #d9534f;
	border-color: #d43f3a
}
.btn-danger .badge {
	color: #d9534f;
	background-color: #fff
}
.btn-link {
	font-weight: 400;
	color: #337ab7;
	border-radius: 0
}
.btn-link, .btn-link.active, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
	border-color: transparent
}
.btn-link:focus, .btn-link:hover {
	color: #23527c;
	text-decoration: underline;
	background-color: transparent
}
.btn-link[disabled]:focus, .btn-link[disabled]:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:hover {
	color: #777;
	text-decoration: none
}
.btn-group-lg>.btn, .btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px
}
.btn-group-sm>.btn, .btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}
.btn-group-xs>.btn, .btn-xs {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}
.btn-block {
	display: block;
	width: 100%
}
.btn-block+.btn-block {
	margin-top: 5px
}
.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
	background-image: none
}
.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
	background-color: #fff;
	border-color: #ccc
}
.btn-default .badge {
	color: #fff;
	background-color: #333
}
.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #286090;
	border-color: #204d74
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
	background-image: none
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	background-color: #337ab7;
	border-color: #2e6da4
}
.btn-primary .badge {
	color: #337ab7;
	background-color: #fff
}
.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c
}
.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
	color: #fff;
	background-color: #449d44;
	border-color: #398439
}
.pagination li {
	display: inline-block;
	padding: 5px;
}
.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
	background-image: none
}
.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
	background-color: #5cb85c;
	border-color: #4cae4c
}
.btn-success .badge {
	color: #5cb85c;
	background-color: #fff
}
.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da
}
.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc
}
.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
	background-image: none
}
/*! normalize.css v3.0.1 */
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	margin: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden], template {
	display: none
}
a {
	background: transparent
}
a:active, a:hover {
	outline: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b, strong {
	font-weight: 700
}
dfn {
	font-style: italic
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
mark {
	background: #ff0;
	color: #000
}
small {
	font-size: 80%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
img {
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 1em 40px
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}
pre {
	overflow: auto
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
button {
	overflow: visible
}
button, select {
	text-transform: none
}
button, html input[type="button"],/* 1 */ input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled], html input[disabled] {
	cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
input {
	line-height: normal
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
height:auto;
-webkit-appearance:none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}
legend {
	border: 0;
	padding: 0
}
textarea {
	overflow: auto
}
optgroup {
	font-weight: 700
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td, th {
	padding: 0
}
/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	color: #181a1e;
	font-weight: 700;
	margin-top: 0;
	color: #424344;
}
body, html {
	height: 100%;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
h1, .h1 {
	font-size: 35px;
	margin-bottom: 14px;
}
h2, .h2 {
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 10px;
}
h3, .h3 {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 8px;
}
h4, .h4 {
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 4px;
}
h5, .h5 {
	font-size: 14px;
	line-height: 24px;
}
h6, .h6 {
	font-size: 12px;
	line-height: 21px;
}
.subheader {
	color: #777;
}
p {
	margin: 0 0 20px 0;
}
p img {
	margin: 0;
}
p.lead {
	font-size: 21px;
	line-height: 27px;
	color: #777;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
	color: #333;
}
.btn strong {
	color: #fff;
}
small {
	font-size: 80%;
}
/*	Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020";
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555;
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */
a {
	color: #4a80ec;
	text-decoration: none;
	outline: 0;
}
a:visited {
	text-decoration: underline;
}
a:hover, a:focus {
	color: #000;
}
p a, p a:visited {
	line-height: inherit;
}
.alpha {
	padding-left: 0 !important;
}
.omega {
	padding-right: 0 !important;
}
/* #Lists
================================================== */
ul, ol {
	margin-bottom: 20px;
}
ul {
	list-style: none outside;
}
ol {
	list-style: decimal;
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px;
}
ul.square {
	list-style: square outside;
}
ul.circle {
	list-style: circle outside;
}
ul.disc {
	list-style: disc outside;
}
ul ul, ul ol, ol ol, ol ul {
	margin: 4px 0 5px 30px;
	font-size: 90%;
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin-bottom: 6px;
}
li {
	line-height: 18px;
	margin-bottom: 12px;
}
ul.large li {
	line-height: 21px;
}
li p {
	line-height: 21px;
}
/* #Images
================================================== */

img.scale-with-grid, img {
	max-width: 100%;
	height: auto;
}
/* #Buttons
================================================== */

	

.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
	border: 1px solid #666;
	
}
.button.full-width, button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
/* #Forms
================================================== */
spacer {
	height: 15px;
}
form {
	margin-bottom: 20px;
}
fieldset {
	margin-bottom: 20px;
}
input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="number"], textarea, select {
	border: 1px solid #b5b5b6;
	padding: 6px;
	outline: none;
	color: #82888a;
	margin: 0;
	width: 100%;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff;
	height: 40px;
}
.f_search_row input[type="text"]:focus, .f_search_row input[type="number"]:focus, .f_search_row input[type="password"]:focus, .f_search_row input[type="email"]:focus, .f_search_row textarea:focus {
	color: #4a7feb;
	border-color: #4a7feb;
}
textarea {
	resize: none;
	min-height: 80px;
}
label {
	font-size: 17px;
	font-weight: normal;
	color: #82888a;
	margin-bottom: 4px;
}
.br-radius {
	border-radius: 4px;
}
.btn.large {
	width: 100%;
	padding: 15px;
	font-weight: bold;
}
.btn.medium {
	padding: 10px 15px;
	width: 100%;
	font-weight: bold;
}
.see_result{
        padding: 22px !important;
}

@media (min-width:768px) {
.btn.br-radius, .btn-input.br-radius {
	max-width: 150px;
}
}
/* #Misc
================================================== */
.remove-bottom {
	margin-bottom: 0 !important;
}
.half-bottom {
	margin-bottom: 10px !important;
}
.add-bottom {
	margin-bottom: 20px !important;
}
.fr {
	float: right !important;
}
.fl {
	float: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.white {
	color: #fff;
}
.auto_center {
	margin: 0 auto;
	float: none !important;
}
.btn, .btn-input, input[type='submit'].btn {
	background: #4a80ec; /* Old browsers */
	border: solid 1px #c4c4c4;
	display: inline-block;
	font-size: 17px;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	padding: 11px 25px;
	color: #fff;
	cursor: pointer;
}
.dashboard_header {
	padding: 36px 0;
}
.dashboard_header .page_title {
	color: #4a80ec;
	float: left;
	font-weight: bold;
	line-height: 1;
}
.spacer {
	height: 10px;
}
.mspacer {
	height: 20px;
}
.form-control {
	width: 100% !important;
}
.btn.small {
	padding: 10px 0;
}
.inline {
	display: inline-block;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.invisible {
	visibility: hidden;
}
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.hidden {
	display: none !important;
	visibility: hidden !important;
}
.affix {
	position: fixed;
	-webkit-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/*responsive structure*/
/* #Base 1200 Grid
================================================== */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1150px;
	min-width: 310px;
}
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}
.col-xs-12 {
	width: 100%;
}
.col-xs-11 {
	width: 91.66666667%;
}
.col-xs-10 {
	width: 83.33333333%;
}
.col-xs-9 {
	width: 75%;
}
.col-xs-8 {
	width: 66.66666667%;
}
.col-xs-7 {
	width: 58.33333333%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-5 {
	width: 41.66666667%;
}
.col-xs-4 {
	width: 33.33333333%;
}
.col-xs-3 {
	width: 25%;
}
.col-xs-2 {
	width: 16.66666667%;
}
.col-xs-1 {
	width: 8.33333333%;
}
.col-xs-pull-12 {
	right: 100%;
}
.col-xs-pull-11 {
	right: 91.66666667%;
}
.col-xs-pull-10 {
	right: 83.33333333%;
}
.col-xs-pull-9 {
	right: 75%;
}
.col-xs-pull-8 {
	right: 66.66666667%;
}
.col-xs-pull-7 {
	right: 58.33333333%;
}
.col-xs-pull-6 {
	right: 50%;
}
.col-xs-pull-5 {
	right: 41.66666667%;
}
.col-xs-pull-4 {
	right: 33.33333333%;
}
.col-xs-pull-3 {
	right: 25%;
}
.col-xs-pull-2 {
	right: 16.66666667%;
}
.col-xs-pull-1 {
	right: 8.33333333%;
}
.col-xs-pull-0 {
	right: auto;
}
.col-xs-push-12 {
	left: 100%;
}
.col-xs-push-11 {
	left: 91.66666667%;
}
.col-xs-push-10 {
	left: 83.33333333%;
}
.col-xs-push-9 {
	left: 75%;
}
.col-xs-push-8 {
	left: 66.66666667%;
}
.col-xs-push-7 {
	left: 58.33333333%;
}
.col-xs-push-6 {
	left: 50%;
}
.col-xs-push-5 {
	left: 41.66666667%;
}
.col-xs-push-4 {
	left: 33.33333333%;
}
.col-xs-push-3 {
	left: 25%;
}
.col-xs-push-2 {
	left: 16.66666667%;
}
.col-xs-push-1 {
	left: 8.33333333%;
}
.col-xs-push-0 {
	left: auto;
}
.col-xs-offset-12 {
	margin-left: 100%;
}
.col-xs-offset-11 {
	margin-left: 91.66666667%;
}
.col-xs-offset-10 {
	margin-left: 83.33333333%;
}
.col-xs-offset-9 {
	margin-left: 75%;
}
.col-xs-offset-8 {
	margin-left: 66.66666667%;
}
.col-xs-offset-7 {
	margin-left: 58.33333333%;
}
.col-xs-offset-6 {
	margin-left: 50%;
}
.col-xs-offset-5 {
	margin-left: 41.66666667%;
}
.col-xs-offset-4 {
	margin-left: 33.33333333%;
}
.col-xs-offset-3 {
	margin-left: 25%;
}
.col-xs-offset-2 {
	margin-left: 16.66666667%;
}
.col-xs-offset-1 {
	margin-left: 8.33333333%;
}
.col-xs-offset-0 {
	margin-left: 0;
}

@media (min-width: 768px) {
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	float: left;
}
.col-sm-12 {
	width: 100%;
}
.col-sm-11 {
	width: 91.66666667%;
}
.col-sm-10 {
	width: 83.33333333%;
}
.col-sm-9 {
	width: 75%;
}
.col-sm-8 {
	width: 66.66666667%;
}
.col-sm-7 {
	width: 58.33333333%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-5 {
	width: 41.66666667%;
}
.col-sm-4 {
	width: 33.33333333%;
}
.col-sm-3 {
	width: 25%;
}
.col-sm-2 {
	width: 16.66666667%;
}
.col-sm-1 {
	width: 8.33333333%;
}
.col-sm-pull-12 {
	right: 100%;
}
.col-sm-pull-11 {
	right: 91.66666667%;
}
.col-sm-pull-10 {
	right: 83.33333333%;
}
.col-sm-pull-9 {
	right: 75%;
}
.col-sm-pull-8 {
	right: 66.66666667%;
}
.col-sm-pull-7 {
	right: 58.33333333%;
}
.col-sm-pull-6 {
	right: 50%;
}
.col-sm-pull-5 {
	right: 41.66666667%;
}
.col-sm-pull-4 {
	right: 33.33333333%;
}
.col-sm-pull-3 {
	right: 25%;
}
.col-sm-pull-2 {
	right: 16.66666667%;
}
.col-sm-pull-1 {
	right: 8.33333333%;
}
.col-sm-pull-0 {
	right: auto;
}
.col-sm-push-12 {
	left: 100%;
}
.col-sm-push-11 {
	left: 91.66666667%;
}
.col-sm-push-10 {
	left: 83.33333333%;
}
.col-sm-push-9 {
	left: 75%;
}
.col-sm-push-8 {
	left: 66.66666667%;
}
.col-sm-push-7 {
	left: 58.33333333%;
}
.col-sm-push-6 {
	left: 50%;
}
.col-sm-push-5 {
	left: 41.66666667%;
}
.col-sm-push-4 {
	left: 33.33333333%;
}
.col-sm-push-3 {
	left: 25%;
}
.col-sm-push-2 {
	left: 16.66666667%;
}
.col-sm-push-1 {
	left: 8.33333333%;
}
.col-sm-push-0 {
	left: auto;
}
.col-sm-offset-12 {
	margin-left: 100%;
}
.col-sm-offset-11 {
	margin-left: 91.66666667%;
}
.col-sm-offset-10 {
	margin-left: 83.33333333%;
}
.col-sm-offset-9 {
	margin-left: 75%;
}
.col-sm-offset-8 {
	margin-left: 66.66666667%;
}
.col-sm-offset-7 {
	margin-left: 58.33333333%;
}
.col-sm-offset-6 {
	margin-left: 50%;
}
.col-sm-offset-5 {
	margin-left: 41.66666667%;
}
.col-sm-offset-4 {
	margin-left: 33.33333333%;
}
.col-sm-offset-3 {
	margin-left: 25%;
}
.col-sm-offset-2 {
	margin-left: 16.66666667%;
}
.col-sm-offset-1 {
	margin-left: 8.33333333%;
}
.col-sm-offset-0 {
	margin-left: 0;
}
}

@media (min-width: 992px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
}
.col-md-12 {
	width: 100%;
}
.col-md-11 {
	width: 91.66666667%;
}
.col-md-10 {
	width: 83.33333333%;
}
.col-md-9 {
	width: 75%;
}
.col-md-8 {
	width: 66.66666667%;
}
.col-md-7 {
	width: 58.33333333%;
}
.col-md-6 {
	width: 50%;
}
.col-md-5 {
	width: 41.66666667%;
}
.col-md-4 {
	width: 33.33333333%;
}
.col-md-3 {
	width: 25%;
}
.col-md-2 {
	width: 16.66666667%;
}
.col-md-1 {
	width: 8.33333333%;
}
.col-md-pull-12 {
	right: 100%;
}
.col-md-pull-11 {
	right: 91.66666667%;
}
.col-md-pull-10 {
	right: 83.33333333%;
}
.col-md-pull-9 {
	right: 75%;
}
.col-md-pull-8 {
	right: 66.66666667%;
}
.col-md-pull-7 {
	right: 58.33333333%;
}
.col-md-pull-6 {
	right: 50%;
}
.col-md-pull-5 {
	right: 41.66666667%;
}
.col-md-pull-4 {
	right: 33.33333333%;
}
.col-md-pull-3 {
	right: 25%;
}
.col-md-pull-2 {
	right: 16.66666667%;
}
.col-md-pull-1 {
	right: 8.33333333%;
}
.col-md-pull-0 {
	right: auto;
}
.col-md-push-12 {
	left: 100%;
}
.col-md-push-11 {
	left: 91.66666667%;
}
.col-md-push-10 {
	left: 83.33333333%;
}
.col-md-push-9 {
	left: 75%;
}
.col-md-push-8 {
	left: 66.66666667%;
}
.col-md-push-7 {
	left: 58.33333333%;
}
.col-md-push-6 {
	left: 50%;
}
.col-md-push-5 {
	left: 41.66666667%;
}
.col-md-push-4 {
	left: 33.33333333%;
}
.col-md-push-3 {
	left: 25%;
}
.col-md-push-2 {
	left: 16.66666667%;
}
.col-md-push-1 {
	left: 8.33333333%;
}
.col-md-push-0 {
	left: auto;
}
.col-md-offset-12 {
	margin-left: 100%;
}
.col-md-offset-11 {
	margin-left: 91.66666667%;
}
.col-md-offset-10 {
	margin-left: 83.33333333%;
}
.col-md-offset-9 {
	margin-left: 75%;
}
.col-md-offset-8 {
	margin-left: 66.66666667%;
}
.col-md-offset-7 {
	margin-left: 58.33333333%;
}
.col-md-offset-6 {
	margin-left: 50%;
}
.col-md-offset-5 {
	margin-left: 41.66666667%;
}
.col-md-offset-4 {
	margin-left: 33.33333333%;
}
.col-md-offset-3 {
	margin-left: 25%;
}
.col-md-offset-2 {
	margin-left: 16.66666667%;
}
.col-md-offset-1 {
	margin-left: 8.33333333%;
}
.col-md-offset-0 {
	margin-left: 0;
}
}

@media (min-width: 1200px) {
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	float: left;
}
.col-lg-12 {
	width: 100%;
}
.col-lg-11 {
	width: 91.66666667%;
}
.col-lg-10 {
	width: 83.33333333%;
}
.col-lg-9 {
	width: 75%;
}
.col-lg-8 {
	width: 66.66666667%;
}
.col-lg-7 {
	width: 58.33333333%;
}
.col-lg-6 {
	width: 50%;
}
.col-lg-5 {
	width: 41.66666667%;
}
.col-lg-4 {
	width: 33.33333333%;
}
.col-lg-3 {
	width: 25%;
}
.col-lg-2 {
	width: 16.66666667%;
}
.col-lg-1 {
	width: 8.33333333%;
}
.col-lg-pull-12 {
	right: 100%;
}
.col-lg-pull-11 {
	right: 91.66666667%;
}
.col-lg-pull-10 {
	right: 83.33333333%;
}
.col-lg-pull-9 {
	right: 75%;
}
.col-lg-pull-8 {
	right: 66.66666667%;
}
.col-lg-pull-7 {
	right: 58.33333333%;
}
.col-lg-pull-6 {
	right: 50%;
}
.col-lg-pull-5 {
	right: 41.66666667%;
}
.col-lg-pull-4 {
	right: 33.33333333%;
}
.col-lg-pull-3 {
	right: 25%;
}
.col-lg-pull-2 {
	right: 16.66666667%;
}
.col-lg-pull-1 {
	right: 8.33333333%;
}
.col-lg-pull-0 {
	right: auto;
}
.col-lg-push-12 {
	left: 100%;
}
.col-lg-push-11 {
	left: 91.66666667%;
}
.col-lg-push-10 {
	left: 83.33333333%;
}
.col-lg-push-9 {
	left: 75%;
}
.col-lg-push-8 {
	left: 66.66666667%;
}
.col-lg-push-7 {
	left: 58.33333333%;
}
.col-lg-push-6 {
	left: 50%;
}
.col-lg-push-5 {
	left: 41.66666667%;
}
.col-lg-push-4 {
	left: 33.33333333%;
}
.col-lg-push-3 {
	left: 25%;
}
.col-lg-push-2 {
	left: 16.66666667%;
}
.col-lg-push-1 {
	left: 8.33333333%;
}
.col-lg-push-0 {
	left: auto;
}
.col-lg-offset-12 {
	margin-left: 100%;
}
.col-lg-offset-11 {
	margin-left: 91.66666667%;
}
.col-lg-offset-10 {
	margin-left: 83.33333333%;
}
.col-lg-offset-9 {
	margin-left: 75%;
}
.col-lg-offset-8 {
	margin-left: 66.66666667%;
}
.col-lg-offset-7 {
	margin-left: 58.33333333%;
}
.col-lg-offset-6 {
	margin-left: 50%;
}
.col-lg-offset-5 {
	margin-left: 41.66666667%;
}
.col-lg-offset-4 {
	margin-left: 33.33333333%;
}
.col-lg-offset-3 {
	margin-left: 25%;
}
.col-lg-offset-2 {
	margin-left: 16.66666667%;
}
.col-lg-offset-1 {
	margin-left: 8.33333333%;
}
.col-lg-offset-0 {
	margin-left: 0;
}
}
/* #Clearing
================================================== */

.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
.clearfix:before,  .clearfix:after,  .row:before,  .row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.row:after,  .clearfix:after {
	clear: both;
}
.row,  .clearfix {
}
/* You can also use a <br class="clear" /> to clear columns */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
nav ul li {
	display: inline-block;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav ul li a {
	text-decoration: none;
}
.relv {
	position: relative;
}
/*Basic Layout*/
body {
	background-size: 100%;
	font-family: 'PT Sans', sans-serif;
	color: #82888a;
	font-size: 15px;
	line-height: 1.7;
}
/* header */
#header {
	height: 690px;
	background-size: cover;
	color: #fff;
}
#header .logo_navbar {
	padding-top: 20px;
}
#header.relv .container {
	max-width: 1300px;
}
#party_drp {
	position: absolute;
	left: 0;
	right: 0;
	font-weight: normal;
	top: 100%;
        padding: 10px 5px !important;       
	background: #fff;
	color: #82888A;
	display: none;
	z-index: 99;
	margin: 0;
}
#party_drp span img {
    max-width: 15px;
}
#part_trigger {
    padding: 0 5px !important;       
    margin: 0 !important;
    overflow: hidden;
}
#party_drp {
    overflow:hidden;
}
#part_trigger span, #party_drp span {
    vertical-align: middle;
    width: 18px;
    margin-right: 5px;
    display: inline-block;
}
#part_trigger li {
    line-height: 56px;
}
#party_drp li {
	cursor: pointer;
	margin: 0;
        padding:5px 0;
        font-size: 14px;
}
.datepick-month-header select {
	width: 50% !important;
	float: left;
}
.menu_trigger {
	float: right;
}
#logo {
	float: left;
}
#main_nav {
	float: right;
}
#main_nav li {
	margin: 0 22px;
}
#main_nav a {
	color: #fff;
	padding: 10px;
	display: block;
}
#home_slider {
	max-height: 690px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 690px;
}
.bx-controls {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
#home_slider .bx-pager {
	display: none;
}
#home_slider .slide {
	height: 690px;
	background-size: 100%;
	background-repeat: no-repeat;
}
#home_slider .slide:first-child {
	display: block;
}
#home_slider .bx-controls-direction {
	position: relative;
	z-index: 99;
	top: 40%;
	padding: 0 30px;
}
#home_slider .bx-controls-direction a {
	height: 46px;
	width: 46px;
	font-size: 0;
	text-indent: -999;
}
#home_slider .bx-controls-direction a.disabled {
	display: none;
}
#home_slider .bx-prev {
	background: url(../images/lefty.png);
	float: left;
}
#home_slider .bx-next {
	background: url(../images/righty.png);
	float: right;
}
.input_dropdown {
	position: relative;
	border: solid 1px #4a80ec;
	padding: 10px;
}
.input_dropdown .drop_arrow {
	background: url(../images/drp_bg.png) no-repeat;
	width: 14px;
	height: 7px;
	display: block;
	position: absolute;
	top: -7px;
	right: 50%;
	margin-left: -7px;
}
.dropdown_hide {
	display: none;
	position: absolute;
	left: 20px;
	right: 25px;
	background: #fff;
	z-index: 99;
	border-radius: 4px;
}
/*noselect.. user select*/
.f_search_row .input, .noselect, .custom_inputs {
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}
.f_search_row .input {
	background: url(../images/select_arow.png) no-repeat right center;
}
.f_search_row .input.active {
	border-color: #4a80ec;
}
/*fancybox*/
.fancybox-close {
	display: none;
}
/*custom radio button*/
label {
	display: block;
	position: relative;
}
.field_row label {
	cursor: pointer;
	padding: 2px;
	font-size: 15px;
	color: #82888a;
	font-style: normal;
        
}
.input_dropdown .field_row  label {
    padding-right: 25px;
}
.field_row label:hover {
	background: #f0f1f2;
}
.custom_inputs input[type="radio"], .custom_inputs input[type="checkbox"] {
	display: none;
}
.custom_inputs label span {
	height: 24px;
	width: 24px;
	position: absolute;
	right: 2px;
}
.custom_inputs input[type="radio"] + label span, .custom_inputs input[type="checkbox"] + label span {
	background: url(../images/checkbox_non.png) no-repeat;
}
.custom_inputs input[type="radio"]:checked + label span, .custom_inputs input[type="checkbox"]:checked + label span {
	background: url(../images/checkbox_non.png) no-repeat center bottom;
}
/*star rating */
.star_rating {
	display: inline-block;
}
.star {
	background-image: url(../images/star.png);
	background-position: left top;
	display: block;
	width: 14px;
	height: 13px;
	line-height: 13px;
	float: left;
	cursor: pointer;
	zoom: 1;
}
.fullStar {
	background-position: left bottom;
}
.stars {
	overflow: hidden;
}
.tmp_es {
	background-position: left top;
}
.tmp_fs {
	background-position: left bottom;
}

@media (max-width:1400px) {
#home_slider .slide {
	background-size: cover;
}
}
#home_slider img {
	width: aut;
	height: 690px;
}
.section_title {
	font-size: 50px;
	color: #4a80ec;
	font-weight: 700;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	line-height: 1.1;
	margin-bottom: 10px;
}
.section_title span {
	color: #16161b;
	font-size: 20px;
	display: block;
	font-weight: normal;
}
#main_nav a:after {
	content: '';
	background: url(../images/drp.png);
	width: 10px;
	height: 5px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
#main_nav li:last-child a {
	background: #4a80ec;
	padding: 10px 30px;
	border-radius: 2px;
}
.menu_trigger {
	display: none;
}
#main_nav li:last-child a:after {
	display: none;
}
#find_limo_form {
	background: rgba(0,0,0,0.30);
	margin-top: 150px;
	font-weight: 700;
        position: relative;
        padding-bottom: 15px;
}
#find_limo_form .seach_inputs {
	float: left;
	width: 84%;
	padding-top: 30px;
	font-family: 'PT Sans', sans-serif;
        position: relative;
}
#find_limo_form .seach_inputs .heading {
	font-size: 50px;
	color: #fff;
}
#find_limo_form .seach_inputs input[type="text"], #find_limo_form .seach_inputs input[type="number"], #find_limo_form .seach_inputs input[type="date"] {
	border-radius: 0;
	width: 100%;
	height: 56px;
	padding: 5px;
	border: none;
	padding: 10px;
	padding-left: 45px;
	font-size: 14px;
	font-weight: normal;
	vertical-align: top;
	outline: none;
}
#find_limo_form .inputfield {
	height: 56px;
	width: 20%;
	float: left;
	margin-right: 5px;
	background-color: #fff;
	position: relative;
}
.find_limo{
        float: left;
}
.find_limo input[type="submit"]{
        background: #4a80ec;
        border: 1px solid #4a80ec;
        height: 56px;
        padding: 10px 30px;
        border-radius: 2px;
        font-size: 14px;
}
#find_limo_form .inputfield.passenger .button {
    background:url(../images/inc_up.png) no-repeat;
    position: absolute;
    right: 5px;
    top: 17px;
    color:#000;
    width: 20px;
    height: 11px;
    display: block;
    font-size: 0;
    text-indent: -9999;
    cursor: pointer;
    z-index: 999;
    outline: none;
    border: 0;
}
#find_limo_form .inputfield.passenger .button.dec {
    top:27px;
    background:url(../images/inc_d.png) no-repeat;
}
#find_limo_form .inputfield input {
	background-repeat: no-repeat;
	background-position: 5px 2px;
}
#find_limo_form .inputfield input[type=number]::-webkit-inner-spin-button, 
#find_limo_form .inputfield input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  appearance: none; 
  margin: 0; 
  -moz-appearance:textfield;
}
#find_limo_form .inputfield input[type=number]::-moz-inner-spin-button, 
#find_limo_form .inputfield input[type=number]::-moz-outer-spin-button { 
  -webkit-appearance: none; 
  appearance: none; 
  margin: 0; 
  -moz-appearance:textfield;
}
#find_limo_form .inputfield .dropdown_hide {
	left: 0;
	padding: 0;
	right: 0;
	top: 72px;
}
#find_limo_form .inputfield .dropdown_hide label {
	padding: 5px 10px;
}
#find_limo_form .inputfield .dropdown_hide label span {
	right: 6px;
}
#find_limo_form .inputfield .drop_trigger {
	background: url(../images/ss.png) no-repeat right center;
	color: #7c7c7c;
	height:56px;
        line-height: 56px;
	font-weight: normal;
          font-size: 14px;
	cursor: pointer;
	padding-left: 40px;
        overflow: hidden;
}
#find_limo_form .inputfield.Bachelorette input {
	background-image: url(../images/bachelore.jpg);
}
.reviews_list .review {
	display: none;
	margin-bottom: 15px;
}
.reviews_list .review .stars {
	margin-bottom: 10px;
}
.reviews_list .review:first-child {
	display: block !important;
}
.u_img img {
	width: 60px;
	height: auto;
	max-height: 60px;
}
.star_rating .star[title=""] {
	display: none;
}
#find_limo_form .inputfield.passenger input {
	background-image: url(../images/passenger.jpg);


}
#find_limo_form .inputfield.location input {
	background-image: url(../images/location.jpg);
}
#find_limo_form .inputfield .alert.danger {

  position: absolute;
  min-width: 97%;
  width: 97%;
  top: 100%;
  padding: 2px 5px;
}
#find_limo_form .inputfield.time input {
	background-image: url(../images/time.jpg);
}
#find_limo_form .inputfield.limo_type {
	background-image: url(../images/limo_bg.png);
	background-repeat: no-repeat;
	background-position: 4px;
}
#find_limo_form .search_limo {
	background: url(../images/top-search.png) no-repeat;
	background-size: 100%;
	height: 185px;
	max-width: 193px;
	display: block;
	width: 20%;
	top: -80px;
	padding-top: 40px;
	text-align: center;
        position: absolute;
        right: 0;
}
#find_limo_form .search_limo .find_limo {
	background: url(../images/find.png) no-repeat;
	background-size: 100%;
	height: 44px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	margin-top: 20px;
	padding-top: 6px;
	font-weight: 700;
}
find_limo_form form {
	margin-bottom: 0;
}
#find_limo_form .search_limo .find_limo  {
    position: relative;
}
#find_limo_form .search_limo .find_limo input[type="submit"] {
	background: none;
	border: none;
	outline: none;
        position: absolute;
        left:0;
        width: 100%;
        height: 100%;
        text-align: center;
        top: -4px;
}
#find_limo_form .search_limo .find_limo .search_lemo:hover, #find_limo_form .search_limo .find_limo .search_lemo {
	color: #fff;
	padding: 5px 0 0;
}
#testimonial_bar .slide{margin-top: 5px; padding-top: 30px; }
#testimonial_bar {
	background: #000;
	width: 100%;
	position: absolute;
	bottom: 0;
/*	padding-top: 10px;*/
	text-align: center;
	font-family: 'PT Sans', sans-serif;
        height:44px;
}
#testimonial_bar .user {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	border: solid 2px #b8b8b8;
	text-align: center;
	overflow: hidden;
	margin-right: 50px;
	position: relative;
	top: -33px;
	margin-bottom: -33px;
}
#testimonial_bar .user img {
    border-radius: 100%;
}
#testimonial_bar .tesimonial_text:before, #testimonial_bar .tesimonial_text:after {
	color: #4a80ec;
	font-size: 48px;
	line-height: 0;
	height: 40px;
	width: 15px;
	height: 10px;
	display: inline-block;
	position: absolute;
	top: 0;
}
#testimonial_bar .tesimonial_text:before {
	background: url(../images/startquote.png) no-repeat;
	content: '';
	margin-right: 10px;
	left: 0;
}
#testimonial_bar .tesimonial_text:after {
	content: '';
	background: url(../images/endquote.png) no-repeat;
	display: inline-block;
	right: 0;
}
#testimonial_bar .tesimonial_text {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}
#howit_work {
	background: #ebebeb;
	padding: 30px 0;
}
.inline_container {
	font-size: 0;
}
#howit_work .step_name {
	font-size: 20px;
}
#howit_work .next_step {
	position: absolute;
	right: -10px;
	top: 50%;
	margin-top: -32px;
}
#main_content {
	padding-top: 50px;
}
#main_content .container {
	max-width: 1500px;
}
.inline_sm {
	text-align: center;
	position: relative;
	margin-bottom: 30px;
}
#main_content .location {
	position: absolute;
	top: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	font-size: 95px;
	right: 0;
	color: #fff;
	text-shadow: -4px 8px 9px rgba(0,0,0,0.75);
}
.table {
	display: table;
	width: 100%;
	height: 100%;
}
.table_cell {
	display: table-cell;
	vertical-align: middle;
}
#main_content .second .location {
	font-size: 50px;
}
#main_content .locations {
	margin: 40px 0;
}
#main_content .associated_logos {
	padding: 20px 0;
}
#main_content .associated_logos .logo {
	display: inline-block;
	vertical-align: top;
	padding: 0 22px;
	margin: 10px 0;
}
#footer {
	background: #000 url(../images/footer_bg.png) no-repeat;
	background-size: cover;
	padding: 35px 0 20px 0;
	color: #fff;
	font-size: 16px;
	position: relative;
	z-index: 9;
}
#footer a, #footer a:hover {
	color: #fff;
}
#footer a:hover {
	text-decoration: underline;
}
#footer .ft_social a {
	display: inline-block;
	margin: 0 22px;
}
/*dashboard*/
#result {
	height: 170px;
}
#result .preview {
	width: 150px;
	height: 150px;
	float: left;
}
.side_scroll {
	background: #dae1e5;
	width: 6px;
	height: 100%;
	top: 0;
	position: absolute;
	left: 1px;
}
#dasboard:after {
	content: '';
	clear: both;
}
.bxslider img {
	width: 100%;
/*	max-height: 550px;*/
        max-height: 700px;
        margin-top: -100px;
}
#dasboard #header {
	background: url(../images/header_bg.jpg) no-repeat;
	background-size: 100%;
	height: auto;
	margin-bottom: 0;
	min-height: 100px;
	background-size: cover;
	position: relative;
	z-index: 99;
}
#sidebar_dasboard {
	font-weight: bold;
	padding-bottom: 250px;
}
.action_menu > * {
	margin-bottom: 20px !important;
}
#sidebar_dasboard .blue_head {
	color: #7c7c7c;
	margin-bottom: 0;
}
#sidebar_dasboard .blue_head a {
	color: #7c7c7c;
}
#sidebar_dasboard li {
	position: relative;
}
#sidebar_dasboard li:hover .blue_head, #sidebar_dasboard li.active .blue_head {
	color: #4a80ec;
}
#sidebar_dasboard li .blue_slide {
	background: #4a80ec;
	position: absolute;
	left: -15px;
	width: 6px;
	height: 80%;
	top: 10%;
	display: none;
}
#sidebar_dasboard li:hover .blue_slide, #sidebar_dasboard li.active .blue_slide {
	display: block;
}
#sidebar_dasboard .small_head {
	font-size: 14px;
	color: #a3a3a3;
	margin-bottom: 7px;
	text-transform: uppercase;
}
#sidebar_dasboard li {
	background: url(../images/dots.png) repeat-x left bottom;
	padding: 30px 0;
	margin-bottom: 0;
        padding-left: 45px;
}
#sidebar_dasboard .side_menus.logout li {
	padding: 18px 0px;
}
#sidebar_dasboard li a {
	display: block;
	background: url('../images/drop_down.png') no-repeat right center;
	text-decoration: none;
}
#sidebar_dasboard li:hover a, #sidebar_dasboard li.active a {
	background: url('../images/drop_down_h.png') no-repeat right center;
}
.vehicles_listig {
	background: #fafafa;
	margin-bottom: 30px;
}
.vehicles_listig .img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	width: 240px;
}
.vehicles_listig .img img {
	max-height: 150px;
	vertical-align: top;
        width: 240px;
}
.inline_block {
	display: inline-block;
	vertical-align: middle;
}
.c_label {
	color: #4a80ec;
	font-size: 14px;
}
.vehicles_listig .actions {
	background: url(../images/calender.png) no-repeat center top;
	padding-top: 28px;
	min-width: 28px;
	color: #8c8c8c;
	text-decoration: none;
	margin: 0 14px;
	display: inline-block;
	position: relative;
	top: 17px;
	line-height: 1;
	font-size: 11px;
	opacity: 0.3;
}
.vehicles_listig .actions:hover {
	opacity: 1;
}
.vehicles_listig .actions.gallery {
	background-image: url(../images/gallery.png);
}
.vehicles_listig .actions.review {
	background-image: url(../images/review.png);
}
.vehicles_listig .actions.edit {
	background-image: url(../images/edit.png);
}
.vehicles_listig .actions.delete {
	background-image: url(../images/delete.png);
}
.vehicles_listig .action_menu {
	padding-top: 30px;
}
#sidebar_dasboard .side_menus {
	padding: 0;
	margin: 0;
}
#sidebar_dasboard .side_menus.logout {
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
}
#sidebar_dasboard .side_menus.logout {
	background: url('../images/dots.png') repeat-x center top;
}
.vehicles_listig .vehilce_name {
	font-size: 26px;
	font-weight: bold;
	color: #4a80ec;
	display: inline-block;
	vertical-align: middle;
}
.vehicles_listig .vehilce_name a, .vehicles_listig .vehilce_name a:hover {
	color: #4a80ec;
}
.vehicles_listig .onoffswitch {
	top: 19px;
}
/*on off switch*/
.onoffswitch {
	position: relative;
	width: 109px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: inline-block;
}
.onoffswitch-checkbox {
	visibility: hidden;
	position: absolute;
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border-radius: 20px;
}
.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s;
	-webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 40px;
	padding: 0;
	line-height: 30px;
	font-size: 12px;
	color: white;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-style: normal;
}
.onoffswitch-inner:before {
	content: "";
	background: url(../images/knob_on.png) no-repeat;
	padding-left: 10px;
	color: #FFFFFF;
}
/*.onoffswitch-disabled:before {
	content: "";
	background: url(../images/knob_disable.png) no-repeat;
	padding-left: 10px;
	color: #FFFFFF;
}*/
.onoffswitch-inner:after {
	content: "";
	padding-right: 10px;
	color: #999999;
	background: url(../images/knob_off.png) no-repeat;
	text-align: right;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px;
}
/*switch ends*/
/*placeholder*/
::-webkit-input-placeholder {
 color: #898a8b;
}

:-moz-placeholder { /* Firefox 18- */
 color: #898a8b;
}

::-moz-placeholder {  /* Firefox 19+ */
 color: #898a8b;
}

:-ms-input-placeholder {
 color: #898a8b;
}
/*light_box_layout*/
#lightbox_layout {
	height: 100%;
	width: 100%;
	background: url(../images/body_bg.jpg) no-repeat center;
	background-size: cover;
}
#light_box, .light, div[id*="inlinervw"], #add-a-review {
	background: url(../images/lightbox_bg.jpg) no-repeat;
	max-width: 100%;
	width: 750px;
	padding: 30px 70px;
	display: none;
}
.light .Close {
	display: none;
}
#loing_sinup .btn {
	border: none;
	width: 50%;
	float: left;
	border-radius: 0;
	font-weight: bold;
}
#loing_sinup {
	margin-top: -20px;
	margin-bottom: 20px;
	border-bottom: solid 1px ddd;
}
#loing_sinup .btn.active {
	background: none;
	color: #999;
	box-shadow: none;
}
#lightbox_layout input {
	color: #b3c5f5;
}
#light_box input[type="text"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="number"]:focus, textarea:focus, select:focus {
	border-color: #4a7feb;
}
#light_box .onoffswitch-inner:before {
	background: url(../images/round2on.png) no-repeat;
}
#light_box .onoffswitch {
	width: 129px;
	margin-left: 25px;
}
#light_box .onoffswitch-inner:before, #light_box .onoffswitch-inner:after {
	height: 28px;
}
#light_box .onoffswitch-inner:after {
	background: url(../images/round2off.png) no-repeat;
}
#light_box .form_row {
	margin-bottom: 20px;
}
#light_box form {
	margin: 30px 0 10px 0;
}
.litbox_title {
	color: #4a80ec;
	font-size: 50px;
	text-align: center;
	line-height: 1;
}
.litbox_title small {
	color: #16161b;
	font-size: 20px;
	display: block;
	margin-top: 5px;
	font-weight: normal;
}
/*filter search page*/
.f_search_row {
	padding: 30px 0;
	border-bottom: solid 1px #edefef;
}
.f_search_row .inputfield {
	float: left;
	width: 20%;
	padding: 0 24px;
	position: relative;
        text-align: left;
}
.f_search_row .input {
	margin: 0px 0px 20px;
	height: 40px;
	border: solid 1px #c4c4c4;
	padding: 7px;
	color: #c4c4c4;
	cursor: pointer;
}
.f_search_row .inputfield input[type="text"], .f_search_row .inputfield select, .f_search_row .inputfield input[type="number"] {
	background: url(../images/search_icon.png) no-repeat 3px center;
	max-width: 200px;
	display: inline-block;
	padding-left: 30px;
        text-align: left;
}
.f_search_row .inputfield.second input[type="text"] {
    background: url(../images/time.jpg) no-repeat -2px center;
}
.f_search_row #passengers {
    background: url(../images/passenger2.png) no-repeat 3px center;
}
#part_trigger {
    color:#82888a;
    font-weight: normal;
    height: 56px;
    line-height: 56px;
    padding-left: 5px;
}
#part_trigger img {
    vertical-align:middle;
    position: relative;
    top: -4px;
}
#dasboard {
	min-height: 100%;
	margin-bottom: -122px;
	padding-bottom: 122px;
}
.from_section .alert {
    position: absolute;
    background: #fff;
    z-index: 99;
}
.alert {
	padding: 10px;
	border: solid 1px green;
	margin: 10px 0;
	border-radius: 4px;
	font-weight: bold;
	color: green;
	text-transform: uppercase;
        font-size: 12px;
}
.alert.danger {
	border-color: red;
	color: red;
}
.f_search_row .inputfield.icon {
	padding-left: 0;
	padding-right: 50px;
}
.f_search_row .inputfield.icon.second {
	padding-left: 12px;
}
.f_search_row .iconic {
	position: absolute;
	right: 20px;
	top: 5px;
}
.filter_range {
	width: 60%;
	float: left;
	color: #565a5c;
}
.vehicles_listig.search_resut .vehilce_name {
	font-size: 25px;
	color: #565a5c;
}
.vehicles_listig.search_resut .vehilce_name a {
	color: #565a5c;
}
.vehicles_listig.search_resut .vehilce_name a:hover {
	color: #4a80ec;
}
.vehicles_listig .vehilce_name .info {
	font-size: 17px;
	font-weight: normal;
}
.vehicles_listig .info a, .vehicles_listig .info span {
	color: #565a5c;
	text-decoration: none;
	margin-right: 40px;
}
.vehicles_listig .info a:last-child, .vehicles_listig .info span:last-child {
	margin-right: 0px;
}
.vehicles_listig .price {
	font-size: 30px;
	padding-top: 20px;
	color: #7c7c7c;
	line-height: 1.2;
	font-weight: bold;
	text-align: center;
	float: right;
}
.vehicles_listig .price .btn {
	padding: 10px 55px;
	margin-top: 5px;
}
/*insta_limo*/
#limo_slider .btn {
	border: none;
	position: absolute;
	right: 0;
	z-index: 9;
	font-weight: bold;
}
#limo_slider .bx-controls-direction {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -40px;
	height: 80px;
}
#limo_slider .bx-controls-direction a {
	width: 81px;
	height: 80px;
	display: block;
	font-size: 0;
	text-indent: -9999;
	float: left;
}
.status_links {
    position:absolute;
    left: 0;
  top: 42px;
}
#limo_slider .bx-controls-direction .bx-next {
	background: url(../images/right.png) no-repeat;
	float: right;
	background-size: cover;
}
#limo_slider .bx-controls-direction .bx-prev {
	background: url(../images/left.png) no-repeat;
	background-size: cover;
}
#bx-pager {
	position: absolute;
	bottom: 7px;
	width: 100%;
        left:0;
}
.gallery_file .relv {
    display: inline-block;
}
.alert {
    min-width: 280px;
    display: block;
}
.gallery_file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 95;
    cursor: pointer;
}
.gallery_file .btn {
    position: absolute;
    right: 50px;
    font-size: 12px;
    background: none;
    padding: 0;
    border: 0;
    top:10px;
}
.gallery_file .relv > img {
    max-width: 300px;
    height: 130px !important;
    width: 100%;
    height: auto;
}
.gallery_file .btn.cancel {
    right: 10px;
    z-index: 999;
}
.gallery_file .btn img {
    width: 35px;
    height: 35px;
}
.gallery_file .custom_inputs {
    max-width: 300px;
}
.gallery_file   .custom_inputs label {
    padding-left: 0 !important;
    
}
.gallery_file .custom_inputs label span {
    right:0 !important;
    left:auto !important;
}
#limo_slider .slide {
	text-align: center;
}
#bx-pager a {
	position: relative;
	display: inline-block;
	width: 260px;
	max-width: 22%;
	display:none;
}
#bx-pager a:nth-child(1), #bx-pager a:nth-child(2), #bx-pager a:nth-child(3) {
	display:inline-block;
	}
#bx-pager a img {
	vertical-align: top;
	width: 250px;
	height: 140px;
}
#bx-pager a:hover:after, #bx-pager a.active:after {
	
}
#bx-pager a:after {
	content: '';
	position: absolute;
	background: url(../images/thumb_hover.png) no-repeat center;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	display: none;
}
#main_content.default {
	padding: 0;
}
.vehcice_nbar {
	background: #fafafa;
	padding-bottom: 20px;
	padding-top: 50px;
	border-bottom: solid 1px #dce0e0;
}
.vehilce_name {
	color: #4a80ec;
}
.vehcice_nbar .vehilce_name {
	margin: 0;
}
.vehcice_nbar .vehicle_sshare {
	display: inline-block;
	vertical-align: middle;
}
.vehcice_nbar .vehicle_sshare .links {
	height: 26px;
	width: 30px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}
.vehcice_nbar .vehicle_sshare .links.msg {
	background: url(../images/msgs.png) no-repeat center;
}
.vehcice_nbar .vehicle_sshare .links.fb {
	background: url(../images/facebook.png) no-repeat center;
}
.vehcice_nbar .vehicle_sshare .links.tweet {
	background: url(../images/tweet.png) no-repeat center;
}
.vehcice_nbar .vehicle_sshare .links.e_logo {
	background: url(../images/embed_logo.png) no-repeat center;
}
.content_section {
	border-bottom: solid 1px #dce0e0;
	padding: 30px 0;
}
.content_section:last-child {
	padding-bottom: 0;
}
.content_section:last-child p:last-child {
	margin-bottom: 0;
}
.sub_title {
	color: #82888a;
	font-weight: bold;
	margin-bottom: 15px;
}
.content_section .custom_inputs {
	margin-bottom: 25px;
}
.content_section .custom_inputs label {
	padding-left: 40px;
	margin-bottom: 0;
	line-height: 1;
}
.content_section .custom_inputs label span {
	left: 0;
}
.inline_text {
	display: inline-block;
	vertical-align: baseline;
}
.review_name {
	line-height: 1;
	color: #565a5c;
	font-size: 14px;
}
#vehcile_review .review {
	margin-bottom: 10px;
}
#light_boxs .alert.danger {
    display: inline-block;
    width: 100%;
}
#vehcile_review h3 {
	color: #82888a;
	font-weight: normal;
}
#testimonial {
	padding: 45px 0 10px 0;
}
#sidebar_limo {
	position: relative;
	top: -191px;
	background-color: #FFF;
	margin-bottom: -160px;
}
#sidebar_limo .price {
	background: #646363;
	padding: 5px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 26px;
}
#sidebar_limo .other_vehicle .price {
	background: rgba(100,99,99,0.70);
	margin: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
}
#sidebar_limo .sidebar_section {
	font-size: 14px;
	margin-bottom: 40px;
}
#sidebar_limo .price .fl {
	font-size: 26px;
}
#sidebar_limo .price .fl {
	font-weight: 22px;
	font-weight: bold;
}
.vehicle_img {
	margin: 15px 0 25px 0;
	position: relative;
	display: inline-block;
	max-width: 100%;
}
.vehicle_img img {
	vertical-align: top;
}
.company_name {
	color: #4a80ec;
        word-break: break-all;
}
.sidebar_section {
	border: solid 1px #dce0df;
	padding: 10px;
}
.other_vehicle .name {
	font-weight: bold;
	color: #636c6c;
	text-align: center;
}
.terms-list li{
    list-style: disc; 
}
.show_register b{
        color: #424344;
}

/*add-you-car*/
.from_head {
	font-size: 30px;
	color: #4a80ec;
	font-weight: bold;
	margin-bottom: 20px;
}
.side_shadow {
	box-shadow: 1px 2px 14px 1px rgba(247,248,249, 0.90);
}
#add_car_form {
	padding: 40px 10px;
}
.from_section {
	background: #fafafa;
	padding: 20px;
	margin-bottom: 45px;
}
.from_section label {
	color: #565a5c;
	font-size: 17px;
	text-align: right;
	line-height: 1;
}
.from_section .row {
	margin-bottom: 25px;
}
.from_section .row:last-child {
	margin-bottom: 0;
}
.from_section .custom_inputs {
	margin-bottom: 20px;
}
.from_section .custom_inputs label {
	text-align: left;
	padding-left: 28px;
	cursor: pointer;
}
.from_section .custom_inputs label span {
	left: 0;
	right: auto;
}
.from_section .custom_inputs label small {
	font-size: 12px;
}
#add_car_form input, #add_car_form textArea, #add_car_form select {
	background: #ebeef1;
	color: #565a5c;
	border: none;
	border-radius: 3px;
	width: 100%;
	max-width: 500px;
	margin-bottom: 0;
}
#add_car_form input.btn {
	background-color: #4A80EC;
	color: #fff;
}
#add_car_form input, #add_car_form textArea {
	padding: 10px;
}
#add_car_form textArea {
	min-height: 160px;
}
.spacer_20 {
	height: 20px;
}
.from_section label span {
	color: #4a80ec;
	font-size: 24px;
}
#customsearcform {
    margin-bottom: 0;
}
.custom_select select {
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
        background:#ebeef1;
        border: none;
}
.register_contant{
    border: 2px solid #000;
    background: #fff;
    margin-top: 35px;
    padding: 5px;
}
.register_contant p{
    font-weight: bold;
    margin: 0 0 10px 0;
}
.register_now{
    text-align: center;
    margin: 10px 0;
}
.show_register{
    margin: 20px;
    text-align: left;
}
.show_register .litbox_title{text-align: left;}
.register_panel{
    margin: 20px 0;
}
.show_register .form-group{  
    overflow: hidden;
    margin-bottom: 15px;
}
.show_register label{
      padding:5px 15px;
      line-height: 1.2;
}
.show_register
.options label{
    display: inline-block;
}
.show_register input[type="text"]{
    width: 95% !important;
    display: inline-block;
    margin-bottom: 0 !important;
}
.show_register input[type="email"]{
    width: 95% !important;
    display: inline-block;
    margin-bottom: 0 !important;
}
.show_register input[type="password"]{
    width: 95% !important;
    display: inline-block;
    margin-bottom: 0 !important;
}
.show_register select{
    width: 95% !important;
    background: url(../images/select_arow.png) no-repeat right center;
    border: 1px solid #b5b5b6;
    margin-bottom: 0 !important;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.show_register input[type="checkbox"]{
/*    margin: 15px 0 0 15px;*/
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.options .first-radio{
      margin-right: 25px !important;
}
.show_register em{
    color: red;  
    font-size: 20px;
    font-style: normal;
}
.success_contant{
    margin: 20px 0;
    padding: 0 0 0 55px;
}
.show_register span{  
    font-size: 13px;
    display: block;
}
/* .register_panel .checkbox {
        display: inline-block;
        cursor: pointer;
        font-size: 13px; margin-right:10px; line-height:25px;
    }
    .register_panel input[type=checkbox] {
        display:none; 
    }
    .register_panel .checkbox:before {
        content: "";
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align:middle;
        background-color: #b5b5b6;
        color: #4a80ec;
        text-align: center;
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8); 
        border-radius: 3px;
    }
    .register_panel input[type=checkbox]:checked + .checkbox:before {
        content: "\2713";
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        font-size: 22px;
    }*/

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
.custom_select select {
	padding-right: 18px
}
}
.custom_select label {
	position: relative;
	max-width: 500px;
}
.custom_select label:after {
	content: '';
	background: url('../images/select_drop.png');
	height: 16px;
	width: 11px;
	right: 8px;
	top: 2px;
	padding: 0 0 2px;
	position: absolute;
	pointer-events: none;
	top: 13px;
}
.custom_select label:before {
	content: '';
	right: 0px;
	top: 0px;
	width: 23px;
	height: 40px;
	border-radius: 2px;
	background: #ebeef1;
	position: absolute;
	pointer-events: none;
	display: block;
}
.mini_slect .custom_select {
	width: 92px;
	display: inline-block;
}
.mini_slect .divider {
	text-align: center;
}
.mini_slect {
	max-width: 530px;
}
#upload_photos .img_preview {
	background: #e9eaea url('../images/photos_bg.png') no-repeat center;
	width: 145px;
	height: 120px;
	float: left;
	margin-right: 49px;
	position: relative;
}
#upload_photos.cmprofile .btn.btn-primary.btn-file {
    background: none;
}
#upload_photos .img_preview:last-child {
	margin-right: 0;
}
#upload_photos .remove_img {
	background: #4a80ec;
	padding: 0;
	display: inline-block;
	color: #fff;
	height: 13px;
	width: 13px;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	font-family: 'Myriad Pro', sans-serif;
	position: absolute;
	right: 0;
	cursor: pointer;
}
.input-group {
	background: #e9eaea url('../images/dropzone_bg.png') no-repeat center 40px;
	height: 256px;
	text-align: center;
	position: absolute !important;
	top: 0;
	width: 100%;
}
.gallery_limo {
	position: absolute;
	visibility: hidden;
}
#inlinervw {
	padding: 15px;
}
.fancybox-close {
	display: block;
}
.input-group .form-control:first-child, .file-preview-frame .file-caption-name, .file-preview-frame .kv-file-upload, .file-upload-indicator {
	display: none;
}
.file-preview-frame {
	position: relative;
	box-shadow: none !important;
	border: none !important;
	padding: 0 !important;
}
.file-preview-frame .kv-file-remove {
	background: url('../images/cross.png') no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	height: 11px !important;
	width: 11px !important;
	font-size: 0 !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
}
.file-drop-zone {
	padding: 0 !important;
	border: none !important;
	margin: 10px 0 !important;
}
.file-preview-image {
	height: 120px !important;
	width: 145px !important;
}
.file-preview-frame {
	height: 120px !important;
}
.file-preview {
	padding: 0 !important;
	border: none !important;
}
.file-preview .close {
	display: none !important;
}
.file-drop-zone-title {
	font-size: 0 !important;
}
.btn.btn-default.fileinput-remove.fileinput-remove-button {
	display: none;
}
#upload_photos {
	padding-top: 255px;
	position: relative;
}
.btn.btn-primary.btn-file {
	background: #4a80ec url('../images/uplpoad_bg.png') no-repeat center;
	height: 32px !important;
	width: 120px !important;
	font-size: 0;
	border: none !important;
	border-radius: 0 !important;
}
.btn-file input[type="file"] {
	position: absolute;
	top: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	text-align: right;
	opacity: 0;
	background: none repeat scroll 0px 0px transparent;
	cursor: inherit;
	display: block;
}
.input-group {
	background:url('../images/dropzone_bg.png') no-repeat center 40px;
	height: 256px;
	text-align: center;
	position: absolute !important;
	top: 0;
	width: 100%;
	padding-top: 110px;
}
#upload_photos input[type="file"] {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
}
.img_prviews .prview {
	float: left;
	width: 150px;
	height: 150px;
}
.input-group .form-control:first-child, .file-preview-frame .file-caption-name, .file-preview-frame .kv-file-upload, .file-upload-indicator {
	display: none;
}
.file-preview-frame {
	position: relative;
	box-shadow: none !important;
	border: none !important;
	padding: 0 !important;
}
#dasboard_main {
	position: relative;
}
.mobile_visible {
    display: none;
}

.testimonial{position: relative; top:-30px; height:75px; overflow: hidden; margin-bottom: -30px; }
.testimonial .bx-controls{display: none;}
.san-fran{    font-size: 60px;}

@media (max-width:780px) {
    .desktop_visible {
        display: none;
    }
    .mobile_visible {
        display: block;
    }
}

#loader {
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    text-align: center;
    background:rgba(0,0,0, 0.8) url("../images/loader/loader.GIF") no-repeat center;
    z-index: 954;
}
#regloader {
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    text-align: center;
    background:rgba(0,0,0, 0.8) url("../images/loader/loader.GIF") no-repeat center;
    z-index: 954;
}
#imageloader {
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    text-align: center;
    background:rgba(0,0,0, 0.8) url("../images/loader/loader.GIF") no-repeat center;
    z-index: 954;
}
 #updatecoverloader{
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    text-align: center;
    background:rgba(0,0,0, 0.8) url("../images/loader/loader.GIF") no-repeat center;
    z-index: 954;
}
#loader1 {
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    text-align: center;
    background:rgba(0,0,0, 0.8) url("../images/loader/loader.GIF") no-repeat center;
    z-index: 954;
}
.file-preview-frame .kv-file-remove {
	background: url('../images/cross.png') no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	height: 11px !important;
	width: 11px !important;
	font-size: 0 !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	padding: 0;
}
.file-drop-zone {
	padding: 0 !important;
	border: none !important;
	margin: 10px 0 !important;
	position: absolute;
}
.file-preview-image {
	height: 120px !important;
	width: 145px !important;
}
.file-preview-frame {
	height: 120px !important;
	float: left;
	margin-right: 20px;
}
.file-preview {
	padding: 0 !important;
	border: none !important;
}
.file-preview .close {
	display: none !important;
}
.file-drop-zone-title {
	font-size: 0 !important;
}
.btn.btn-default.fileinput-remove.fileinput-remove-button {
	display: none;
}
#upload_photos {
	padding-top: 255px;
	position: relative;
        padding-bottom: 125px;
}
.btn.btn-primary.btn-file {
	background: #4a80ec url('../images/uplpoad_bg.png') no-repeat center;
	height: 32px !important;
	width: 120px !important;
	font-size: 0;
	border: none !important;
	border-radius: 0 !important;
}
/*bootstrap buttons*/
input.error {
	border: solid 2px red !important;
}
/*operator pitch*/
.circle_list li .number {
	background: url(../images/list_bg.png) no-repeat left center;
	min-height: 55px;
	height: 55px;
	width: 55px;
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	line-height: 55px;
}
.circle_list li {
	margin-bottom: 40px;
}
.circle_list li .inline_block {
	width: 70%;
	color: #4a7feb;
	font-size: 20px;
}
.circle_list li .quote {
	color: #16161b;
	display: block;
	margin-top: 3px;
}
#light_box.grow_popup {
	background-image: url(../images/grow.png);
}
#lightbox_layout.grow_bg {
	background-image: url(../images/grow_bg.jpg);
}
/*leads recieved*/
#footer {
	clear: both;
}
/*responsive table*/
.rwd-table {
	margin: 0;
	width: 100%;
}
.rwd-table tr:nth-child(odd) {
	background: #f0f7f9;
	color: #5d6466;
}
.rwd-table th {
	display: none;
}
.rwd-table td {
	display: block;
}
.rwd-table td:first-child {
	padding-top: .5em;
}
.rwd-table td:last-child {
	padding-bottom: .5em;
}
.rwd-table td:before {
	content: attr(data-th) ": ";
	font-weight: bold;
	width: 8.5em;
        float: left;
	margin-right: 5px;
	padding-left: 5px;
}
.rwd-table td span {
    display: block;
    overflow: hidden;
}
.alert-msg{
    margin: 0 0 20px;
    color: #7c7c7c;
    border: 1px solid #7c7c7c;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
}
.alert-img{
    float: left;
}
.alert-img img{vertical-align: middle;}
.alert-text{
    float: left;
    margin-left: 10px;
    border-left: 1px solid #7c7c7c;
    padding-left: 10px;
}
.alert-text span{
    display: block;
}
.alert-text span:first-child{color: red}


@media (min-width: 680px) {
.rwd-table td:before {
	display: none;
}
.rwd-table th, .rwd-table td {
	text-align: center;
}
}

@media (min-width: 680px) {
.rwd-table th, .rwd-table td {
	display: table-cell;
	padding: .25em .5em;
}
.rwd-table th:first-child, .rwd-table td:first-child {
	padding-left: 0;
}
.rwd-table th:last-child, .rwd-table td:last-child {
	padding-right: 0;
}
}
.rwd-table {
	overflow: hidden;
	color: #37317c;
}
.rwd-table tr {
	border-color: #46627f;
}
.rwd-table th, .rwd-table td {
	margin: .5em 1em;
}

@media (min-width: 680px) {
.rwd-table th, .rwd-table td {
	padding: 1em !important;
	border-right: dotted 1px #b4d8e3;
}
}
.rwd-table th, .rwd-table td {
    word-break: break-all;
}
.rwd-table th, .rwd-table td:before {
	color: #dd5;
	background: #7a9bde;
	font-weight: bold;
	color: #fff;
}
.table_theme {
	border: solid 1px #524f93;
	box-shadow: 0 0 5px 1px rgba(176,187,200,0.50) inset;
	margin-bottom: 20px;
}

@media (min-width:1350px) {
#footer {
	background-size: 100%;
}
}

@media (max-width:1400px) {
#home_slider .bx-controls-direction {
	top: 55%;
}
}

@media (max-width:1200px) {
    #home_slider .bx-controls-direction {
            top: 64%;
    }
    #find_limo_form .search_limo{
            right: -55px;
    }
}

@media (min-width:768px) and (max-width:900px) {
#sidebar_limo .other_vehicle .price {
	position: initial;
	background-color: #646363;
}
#sidebar_limo .other_vehicle .price .fl {
	font-size: 18px;
}
.vehcice_nbar h1 {
	font-size: 27px;
}
#sidebar_limo {
	top: -160px;
	margin-bottom: -150px
}
}

@media (min-width:768px) {
    #sidebar_dasboard {
        display:block !important;
    } 
#main_nav {
	display: block !important;
}
.text-right_sm {
	text-align: right;
}
.alpha_sm {
	padding-left: 0 !important;
}
.omega_sm, .stars {
	padding-right: 0 !important;
}
.fr_sm {
	float: right;
}
.from_section text-right-sm {
	text-align: right;
}
.mini_slect .divider {
	text-align: center;
	position: absolute;
	top: 34%;
	left: 43%;
	line-height: 1;
}
}

@media (max-width:1000px) {
#find_limo_form .seach_inputs .heading {
	font-size: 40px;
}
.f_search_row .inputfield {
	padding: 0px 15px;
}
.f_search_row .iconic {
	right: -7px;
	top: 7px;
}
.f_search_row .inputfield.icon {
	padding-left: 0;
	padding-right: 24px;
}
#upload_photos {
	padding-left: 0;
}
}

@media (min-width:992px) {
.inline_sm {
	float: none;
	display: inline-block;
	vertical-align: bottom;
}
}

@media (max-width:991px) {
#howit_work .next_step {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
	bottom: -43px;
	margin-top: 0;
	top: auto;
	right: auto;
	margin-left: -19px;
	left: 50%;
    }
    .from_section {
            padding: 10px 5px;
    }
    #sidebar_dasboard .blue_head {
            font-size: 14px;
    }
    #sidebar_dasboard .small_head, .from_section label {
            font-size: 10px;
    }
    .inline_sm {
            margin-bottom: 60px;
    }
    .section_title {
            font-size: 40px;
            margin-bottom: 40px;
    }
    #main_content .location {
            font-size: 50px;
    }
    #main_content .second .location {
            font-size: 40px;
    }
    .from_section {
            margin-bottom: 20px;
    }
    .from_head {
            font-size: 25px;
    }
    .show_register em{
          font-size: 22px;
    }
    #registerpage label.error{  display: inline-block !important;}
    .bxslider img {
        max-height: 700px;
        margin-top: -50px;
    }
}

@media (max-width:900px) {
.vehicles_listig .price {
	float: none;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
}
#sidebar_dasboard li a {
	background-size: 7px;
}
#find_limo_form .seach_inputs .heading {
	font-size: 30px;
}
#find_limo_form .inputfield {
	width: 48%;
	margin-bottom: 5px;
}
#find_limo_form .seach_inputs {
	width: 70%;
}
#find_limo_form .search_limo {
	width: 30%;
	top: 70px;
        right: -150px;
}
.find_limo{
        width: 100%;
}
.find_limo input[type="submit"]{
    display: block;
    width: 97%;
}
#find_limo_form .search_limo .find_limo input[type="submit"] {
    top:-11px;
}
}
.nav_toggle {
    background:url(../images/menuu.png) no-repeat right top;
    display: none;
    color:#4a80ec;
    cursor: pointer;
    min-height: 37px;
    line-height: 37px;
}
@media (max-width:767px) {
    #main_nav li:last-child a {
        padding: 10px;
    }
    #sidebar_dasboard .side_menus.logout {
        display: none;
    }
    .nav_toggle {
        display:block;
    }
    #light_box, .light, div[id*="inlinervw"], #add-a-review {
        padding:30px 10px;
    }
    #sidebar_dasboard {
        display: none;
    }
 #find_limo_form .inputfield.limo_type {}   
 .f_search_row .inputfield.icon.abs {
     padding-left: 30px;
     max-width: 96% !important;
 }
 .status_links {
     display: none;
 }
 #sidebar_dasboard li {
     padding-left: 10px;
 }
 .f_search_row .inputfield.icon.abs input[type="text"] {
     
     margin-bottom: 10px;
 }
    #part_trigger img, #party_drp img {
        width:20px;
    }  
    #part_trigger span, #party_drp span {
       width: 23px;
    }
#find_limo_form .seach_inputs input[type="text"], #find_limo_form .seach_inputs input[type="number"], #find_limo_form .seach_inputs input[type="date"]{
	font-size:13px;
	padding:0px 10px 0px 35px;
	}
        #find_limo_form .inputfield .drop_trigger  {
            padding:0px 10px 7px 35px;
            line-height: 48px;
            
        }   
        
        #find_limo_form .seach_inputs input[type="text"], #find_limo_form .seach_inputs input[type="number"], #find_limo_form .seach_inputs input[type="date"] {
            height: 56px;
            margin-bottom: 0;
            line-height: 50px;
        }
        #party_drp li {
            font-size: 12px;
        }       
#home_slider .bx-controls-direction {
	display:none;
	}
#find_limo_form .inputfield .drop_trigger {
	margin-top:3px;
        font-size: 13px;
	}
#find_limo_form .inputfield input {
		background-position:2px center;
	    background-repeat: no-repeat;
    	background-size: 25px auto;
	}
#loing_sinup {
	margin-top: 0 !important;
}
.equal_columns {
	height: auto !important;
}
h1, .h1 {
	font-size: 30px;
}
.vehcice_nbar {
	padding-top: 10px;
}
#sidebar_dasboard {
	padding-bottom: 80px;
}
.vehicles_listig.search_resut .vehilce_name {
	font-size: 20px;
}
.vehicles_listig .price {
	font-size: 24px;
}
#sidebar_limo {
	top: 0;
        margin-bottom: 0;
}
#limo_slider .bx-controls-direction a {
	height: 32px;
	width: 32px;
}
#find_limo_form .seach_inputs .heading {
	font-size: 20px;
}
.filter_range {
	width: 100%;
}
#slider-range {
	margin-bottom: 15px;
}
#light_box {
	padding: 10px;
}
.content_section {
	padding: 10px 0;
}
#main_nav {
	background: none repeat scroll 0% 0% rgb(54, 51, 51);
	float: none;
	width: 100%;
	display: none;
	position: absolute;
	top: 94px;
	left: 0px;
	right: 0px;
}
#dasboard #main_nav {
	top: 99px;
}
.vehicles_listig .price {
	float: none;
	text-align: left;
}
.vehicles_listig .info a, .vehicles_listig .info span {
	display: block;
}
.f_search_row .inputfield input[type="text"], .f_search_row .inputfield select {
	max-width: 100%;
}
.f_search_row .inputfield {
	width: 100%;
}
.f_search_row .inputfield.icon {
	padding: 0 50px 0 15px;
}
.f_search_row .iconic {
	right: 18px;
}
.f_search_row .inputfield.icon.second {
	padding-left: 15px;
}
.ft_section {
	text-align: center;
	margin: 10px 0;
}
#main_nav li {
	margin: 0;
	width: 100%;
}
.menu_trigger {
	display: block;
}
#testimonial_bar .user {
	float: left;
}
#testimonial_bar .tesimonial_text {
	overflow: hidden;
	display: block;
}
#find_limo_form .search_limo .find_limo {
	font-weight: normal;
	padding-top: 0;
}
#dasboard #header {
	background-size: cover;
}
.from_section label {
	text-align: left;
	font-size: 16px;
}
.from_section .text-right-sm {
	text-align: center;
}
.vehicles_listig .action_menu {
	padding-top: 0;
}
.btn, .btn-input, input.btn[type="submit"] {
	padding: 7px 18px;
}
.vehicles_listig .vehilce_name {
	font-size: 25px;
}
#sidebar_dasboard .side_menus.logout {
	background: none;
}
.bxslider img {
        max-height: 250px;
        margin-top: -15px;
    }
    #bx-pager a img{
          width: 200px;
        height: 60px;
    }
    #testimonial_bar, .testimonial {
        height:auto;
        max-height: 150px;
        
    }
    #find_limo_form .search_limo{
            width: 35%;
            top: 60px;
    }
}
@media (max-width:639px) {
    #find_limo_form .search_limo{
        display: none;
    }
    #find_limo_form .seach_inputs{
            width: 100%;
    }
}
@media (max-width:520px) {
     
#find_limo_form .seach_inputs .heading {
	font-size: 20px;
}
#find_limo_form .search_limo .find_limo input[type="submit"] {
    top:-10px;
}
#find_limo_form .seach_inputs, .from_section .col-xs-6 {
	width: 100%;
	float: none;
}
#find_limo_form .search_limo {
	width: 37%;
	top: 10px;
	margin: 0 auto;
	float: none;
        min-width: 140px;
}
#find_limo_form .inputfield {
	padding-left: 0 !important;
}
#find_limo_form .search_limo .find_limo {
	font-size: 13px;
	margin: 0;
}
#testimonial_bar .user {
	margin-right: 10px;
}
.litbox_title {
	font-size: 35px;
}
.litbox_title small {
	font-size: 12px;
}
.c_label {
	font-size: 16px;
}
.from_head {
	font-size: 25px;
}
#sidebar_dasboard li {
	padding: 10px 0;
}
#add_car_form {
	padding: 20px 0;
}
.bxslider img {
        max-height: 250px;
        margin-top: 0;
    }
}

@media (max-width:400px) {
    .content_section .custom_inputs label {
        font-size: 15px;
    }   
#find_limo_form .seach_inputs .heading {
	font-size: 18px;
}
#find_limo_form .seach_inputs input[type="text"], #find_limo_form .seach_inputs input[type="number"], #find_limo_form .seach_inputs input[type="date"] {
    height: 47px;
}
#find_limo_form .inputfield .dropdown_hide {
    top: 54px;
}
#vehcile_review .col-sm-4.col-xs-6, #amenites .col-sm-4.col-xs-6 {
	width: 100%;
}
#find_limo_form .inputfield {
	background-size: 26px;
	background-position: 4px 5px;
	height: 46px;
	padding-left: 30px;
}
#find_limo_form .search_limo .find_limo {
	font-size: 11px;
}
.show_register input[type="text"]{width: 95% !important;}
.show_register input[type="email"]{width: 95% !important;}
.show_register input[type="password"]{width: 95% !important;}
.show_register select{width: 95% !important;}
#bx-pager a img{
          width: 175px;
        height: 40px;
    }

}
.nolimomesage{
    font-size: 34px;
    text-align: center;
    text-shadow: 1px 1px #ebeef1;
    text-justify:inter-word;
    color: #4a80ec;
}
.scrollor{
    margin-left: 30px;
	float: left;
	height: 250px;
	background: #F5F5F5;
	overflow-y: scroll !important;
        overflow-x: hidden !important;
}
/*
 *  STYLE 6
 */

.scrollor::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrollor::-webkit-scrollbar
{
	width: 8px;
	background-color: #4a80ec;
}

.scrollor::-webkit-scrollbar-thumb
{
	background-color: #4a80ec;
/*	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	color-stop(.5, rgba(255, 255, 255, .2)),
	color-stop(.5, transparent), to(transparent));*/
}
