/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border:none;
  margin: 0;
    padding: 0;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}


html, body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

.login{
  position: relative;
  top: 50%;
	width: 250px;
  display: table;
  margin: -150px auto 0 auto;
  background: #fff;
  border-radius: 4px;
}

.legend{
  position: relative;
  width: 100%;
  display: block;
  background: #FF7052;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  
  &:after{
    content: "";
    background-image: url(http://simpleicon.com/wp-content/uploads/multy-user.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 152px -16px;
    opacity: 0.06;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
}

.loginWidget{
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.input{
  position: relative;
  width: 90%;
  margin: 15px auto;
}
.input span{
  position: absolute;
  display: block;
  color: #d4d4d4;
  left: 10px;
  top: 8px;
  font-size: 20px;
}
#page-content-wrapper{
    position: static !important;
}
 .input input {
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid #EDEDED;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: #a1a1a1;
} 
.input input:focus{
     padding: 10px 5px 10px 10px;
      outline: 0;
      border-color: #FF7052;
}

.submit{
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #FF7052;
  color: #FF7052;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
 } 
 
  .submit:hover, &:focus{
    background: #FF7052;
    color: #fff;
    outline: 0;
}

.feedback{
  position: absolute;
  bottom: -70px;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #2ecc71;
  padding: 10px 0;
  font-size: 12px;
  display: none;
  opacity: 0;
  
  &:before{
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(46, 204, 113, 0);
    border-bottom-color: #2ecc71;
    border-width: 10px;
    margin-left: -10px;
    
  }
}
.admin_logo{
    background-color: #4a80ec;
    text-align: center;
    padding: 12px 0;
    margin-bottom: 10px;
}
.top_header{  
    background: rgba(0, 0, 0, 0.7);
      overflow: hidden;
      padding: 13px 0;
}
.sidebar-brand img{
    width: 130px;
}
.toggle-btn{
    float: left;
    margin-left: 35px;
}
.logout-btn{
    float: right;
    margin-right: 35px;
}
.toggle-btn a{
    color: #fff;
    background-color: #4a80ec;
    border-color: #fff;
}
.logout-btn a{
    color: #fff;
    background-color: #4a80ec;
    border-color: #fff;
}
.contant_holder{
    padding: 20px 25px;
}
.dashboard_title{margin-bottom: 25px;}
.dashboard_title h2{
    font-size: 24px;
    margin-bottom: 0;
}
.dashboard_title span{
    font-size: 12px;
}
.bg-color{
    background: #ebeef1;
}
.circle-icon {
  float: left;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  background: #4a80ec;
}
.no-margin {
  margin: 0;
}
.search_account{
    margin: 20px 0;
}
.account_holder{
    background: #fff;
}
.account_title{
      background: #4a80ec;
      color: #fff;
      padding: 8px;
}
.account_contant{padding: 20px 20px 10px;}
.account_contant label{  padding-top: 5px;}
.spacer{margin-bottom: 25px;}
.custom_btn{
    border-radius: 0;
    background: #4a80ec;
    color: #fff;
    padding: 6px 50px;
}
.custom_btn:hover{
    background: #286090;
    color: #fff;
}
.account_contant input[type="text"], input[type="email"], input[type="password"]{
    border-radius: 0;
}
.input-group-addon{border-radius: 0;}
.panel-body a{ 
    color: #333;
    text-decoration: none;
}
.panel-body a:hover{color: #286090;}
.panel-body a:hover .circle-icon{
    background: #286090;
}
.all_list{
    background: #fff;
}
.detail_link{
    background-color: #4a80ec;
    color: #fff;
    padding: 6px 15px;
    transition: all 0.5s ease;
    display: block;
    min-width: 110px;
    max-width: 150px;
    text-align: center;
}
.link{
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 6px 15px;
    transition: all 0.5s ease;
}
.detail_link:hover{
    text-decoration: none; 
    color: #fff;
    background-color: #286090;
}
.link:hover{
    text-decoration: none; 
    color: #fff;
     background-color: rgba(0, 0, 0, 0.5);
}
.account_contant textarea{
    resize: none;
    width: 100%;
    min-height: 120px;
    max-height: 120px;
    margin: 5px 0 20px;
    padding: 8px;
}
.add_note{
    margin-bottom: 20px;
    text-align: right;
}
.add_note a{
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 8px 20px;
    transition: all 0.5s ease;
    text-decoration: none;
}
#addnote label{display: block;}
#addnote textarea{
    resize: none;
    width: 100%;
    min-height: 150px;
    max-height: 150px;
}
.detail{
    background: #fff;
/*    padding: 20px 10px;*/
    margin-bottom: 20px;
}
.detail ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.detail ul li{
    display: inline-block;
    width: 33%;
    border-right: 1px solid #CCC;
    padding: 20px;
}
.detail ul li:last-child{border-right: none;}
.detail ul li h3{
    margin: 0;
}
.detail_contant{
    background: #fff;
    margin-bottom: 20px;  
}
.payment_detail input[type="submit"]{
      border-radius: 0;
      background: #4a80ec;
      color: #fff;
      height: 32px;
      min-width: 150px;
      max-width: 150px;
}
.payment_detail a{
      border-radius: 0;
      background: #4a80ec;
      color: #fff;
      height: 32px;
      min-width: 150px;
      max-width: 150px;
}
.payment_detail a:hover{color: #fff; }

.payment_detail input[type="text"]{
    padding: 6px 12px;
    height: 32px;
      width: 35%;
}
.payment_detail input[type="number"]{
    padding: 6px 12px;
    height: 32px;
      width: 20%;
}
.payment_detail input[type="password"]{
    padding: 6px 12px;
    height: 32px;
}
#fpasswordloader , #newadmin,#refundloader {
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    text-align: center;
    background:rgba(0,0,0, 0.8) url("../../../images/loader/loader.GIF") no-repeat center;
    z-index: 1051;
}
.note-text{
    background-color: rgb(235, 235, 228);
    border: 1px solid #999;
    padding: 10px;
    margin-bottom: 15px;
}
.payment_detailanchor{
      border-radius: 0;
      background: #4a80ec;
      color: #fff;
      height: 32px;
      width: 15%;
}
.alert-danger{
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;
    width: auto;
    display: inline;
    color: red;
    font-size: 12px;
    font-weight: normal;
}
.alert-dangerz{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.error{
    margin: 2px 0;
}
.tablesorter-filter-row {display: none;}
.filter-search{
    text-align: right;
}
.filter-search input[type="search"]{
  height:22px;
  width: 30%;
  min-width: 230px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input.error {
    border:solid 1px red !important;
}
#changepassword label.error {
    width: auto;
    display: inline;
    color: red;
    font-size: 12px;
    font-weight: normal;
}
#createadmin label.error {
    width: auto;
    display: inline;
    color: red;
    font-size: 12px;
    font-weight: normal;
}
.top-margin{  margin-top: 20px;}
.refund-link{
      min-width: 80px;
      display: block;
      text-align: center;
}
.refund_model input[type="number"]{
    padding: 6px 12px;
    height: 32px;
    width: 80%;
}
#submitrefund{
    border-radius: 0;
    background: #4a80ec;
    color: #fff;
    height: 32px;
      opacity: 1;
}
.boxes{
      min-width: 290px;
      padding: 0 10px;
}
.boxes .panel-body{  padding: 10px;}
.boxes .panel-body span{  font-size: 13px;}
.link_name{
    text-decoration: underline !important;
    color: #4a80ec !important;
}
.application_form ul{
    list-style: none
}
.application_form ul li{    margin: 10px 0;}
.application_form ul li strong{
    display: inline-block;
        width: 260px;
}
.application_form ul li span{
    display: inline-block;
    font-weight: normal !important;
}
.admin_application .row{
        margin: 15px -15px 30px;
}
.admin_application h2{
        margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.admin_application hr{
    border-top: 1px solid #333;
    margin-top: 6px;
}

/* Toogle Switch Styles */
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 2px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #464748; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #464748; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 2px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #4A80EC; 
}



@media screen and (max-width:1280px){
    .detail ul li{ 
        width: 30%;
        padding: 10px;
    }
}

@media screen and (max-width:991px){
    .detail ul li{
        display: block;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ccc;
    }
    .payment_detail input[type="number"]{
        width: 100%;
        margin-bottom: 4px;
    }
    .payment_detail input[type="text"]{
        width: 100%;
        margin-bottom: 4px;
    }
}

@media screen and (max-width:480px){
    .contant_holder {padding: 20px 10px;}
}