.toggle-block .opener{
	text-decoration: none;
}
.toggle-block .opener:hover {
	text-decoration: none;
}
.toggle-block .opener em {
	font-style: normal;
	display: none;
}
.expanded .opener em {
	display: inline;
}
.expanded .opener span {
	display: none;
}
.toggle-block .slide { /* recommended styles */
	position: relative;
	overflow: hidden;
}
.toggle-block .slide p {
	margin: 0;
}
.slide{
    margin: 0;
}
.slide ul li{
    list-style: none;
    padding-left: 5px;
}
.slide ul li a:hover{
    background: none;
    padding: 0;
}